{% extends "layout.html" %}
{% block content %}
<body ng-app="si" ng-controller="mails">
    <br>
    <div class="container">
        <div class="well">
            <p class="text-center"><img src="images/logo.png" alt="Sales Intelligence" class="img-responsive" style="margin: 0 auto;"></p>
            <hr>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg">Login</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <br>
    <br>
    <br>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}